<body>
  <div class="black-img">
    
    <div class="log-class">

      <div class="head">
        <h4>Log-In And Make your Destiny</h4>
      </div>

      <div class="form_container">

        <form [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="text-box">
            <i class="fas fa-user"></i>
            <input type="text" formControlName="userName" placeholder="Username">
          </div>

          <div class="text-box">
            <i class="fas fa-lock"></i>
            <input type="password" formControlName="password"  placeholder="Password">
          </div>

          <button class="btn" (click)="onClickSubmit(formdata.value)" value="Login">Login</button>
          <button class="btn-qr font-size: 0.5rem;"><i class="fas fa-qrcode fa-lg"></i></button>


        </form>
      </div>
    </div>
  </div>
</body>
