<body>
  <div class="black-img">
      <div class="container">
    <div class="row">
            <div class="col-11 mx-auto">
              <div class="card">
                <div class="card-body ">
                  <div class="row">
                  <!-- <div class="upper-text col-md-4">{{student.firstName}}</div>
                  <div class="upper-text col-md-4">{{student.lastName}}</div>
                  <div class="upper-text col-md-4">{{getStudentById().id}}</div>
                  <div class="upper-text col-md-4">id</div>

                  <div class="upper-text col-md-4">{{student.email}}</div>
                  <div class="upper-text col-md-4">{{student.phonNumber}}</div>
                  <div class="upper-text col-md-4">pay</div> -->
                </div>
                </div>
              </div>
            </div>
    </div>
      <div class="row">
        
        <div class="col-3">
          <app-select-list> </app-select-list>
        </div>

        <div class="col-6">
            <router-outlet ></router-outlet>
          </div>
       
    
      </div>
      </div>
  </div>
</body>