



<div class="container">
      <div class="row">
        <div class="col">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor ="let student of getList()" (click)="onStudentClicked(student)">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
                <td>{{student.email}}<i class="fas fa-backspace" (click)="onDeleteClicked(student.id)"></i></td>
              </tr>
            </tbody>
            
          </table>
        </div>
  <div class="col">
        <app-side-list-data-r [student]="selectedStudent" > </app-side-list-data-r>
  </div>
  </div>
</div>
