<div *ngIf = 'student'>
    <div class=" mx-auto">
        <div class="card">
          <div class="card-body ">

            <div class="row mx-auto">
            <div class="upper-text ml-4">{{student.firstName}}</div>
            <div class="upper-text ml-4">{{student.lastName}}</div>
            <div class="upper-text ml-4">{{student.id}}</div> 
            </div>

            <div class="row mx-auto">
            <div class="upper-text ml-6">{{student.email}}</div>
            <div class="upper-text ml-6">{{student.phoneNumber}}</div>
            </div>
          </div>
        </div>
    </div>
</div>

